@media(max-width:500px)
{
	.nav{width: 100%}
	.nav a{margin:10px}
	.innertext{margin-top:200PX;margin-left: 70px}
	.innertext1{margin-left: 190px}
	.container2{background: #A0DBF9 ; height: 700px}
	.part1{width: 100%}
	.container2 .img2{height:300px; width: 300px;text-align:center; margin:auto;margin-top:20px } 
	.part2{margin-top: -140px ;width: 100%}
	.container4{height: 1600px}
	.nos1{width: 100%}
	.nos2{width: 100%}
	.nos3{width: 100%}
	.nos4{width: 100%}
	.text3{margin-top: 20px}
/*	.nos2{width: 100%;margin-left: 20px;margin-top:}*/
/*	.nos3{width: 100%; margin-top: 390px}*/




}